*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%; /* this will be 16px on most browsers */
  line-height: 1.5; /* this is a multiple of the font size (1.5 * 16px = 24px) */
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}
.action-watch-later {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  color: red;
}
figure {
  position: relative;
  margin: 0;
}
.film {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr 2fr;
  margin: 40px;
  border: 1px solid lightgray;
}
h1 {
  margin: 0;
}
.film-details {
position: relative;
}
.action-like {
  position: absolute;
  bottom: 1em;
  right: 1em;
  color: red;
}